@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@config "../tailwind.config.js";

@layer utilities {
  .center-position {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
@layer components {
  .primary-btn {
    @apply bg-white dark:bg-primary-600 dark:focus:ring-primary-800 dark:hover:bg-primary-700 relative focus:outline-none focus:ring-primary-50 font-medium hover:bg-primary-600 px-5 py-2.5 rounded-lg text-center text-sm text-primary-600 dark:text-white border-primary-700 dark:border-primary-500 border dark:hover:text-white hover:text-white;
  }
  .accent-btn {
    @apply text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
  }
  .warning-btn {
    @apply text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900;
  }
  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }
  .form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
  }
  .table-row {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
  }
  .critical-error {
    @apply flex items-center justify-center rounded-lg  overflow-hidden p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
  }

  .tooltip {
    min-width: fit-content;
    border-width: thin;
    border-style: dashed;
    padding: 0.3rem;
    @apply transition-opacity px-1  text-sm border-gray-800  dark:border-gray-400 rounded-md opacity-0  text-black dark:text-white peer-hover:opacity-100;
  }
  .bottom-tooltip {
    position: fixed;
    min-width: fit-content;
    left: 0.3rem;
    padding: 0.3rem;
    bottom: 1.3rem;
    border-width: thin;
    border-style: dashed;
    @apply m-4 mx-auto translate-y-full transition-opacity px-1  text-sm border-gray-800  dark:border-gray-400 rounded-md opacity-0  text-black dark:text-white peer-hover:opacity-100;
  }
  .dropdown-menu {
    @apply absolute z-10 p-0.5 origin-top-right bg-white rounded-md shadow-lg dark:bg-gray-800 right-0 ring-1 ring-black ring-opacity-5 focus:outline-none;
  }
  .dropdown-item-list {
    @apply text-sm text-gray-700 py-2 dark:text-gray-200;
  }
  .dropdown-item {
    @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 250px;
}

tbody:before {
  content: "@";
  display: block;
  line-height: 0.6em;
  color: transparent;
}

table {
  table-layout: fixed;
}

thead > tr > th {
  text-align: center;
}

colgroup col:nth-child(1) {
  width: 8rem;
}

colgroup col:nth-child(2) {
  width: 5rem;
}

colgroup col:nth-child(3) {
  width: 8rem;
}

colgroup col:nth-child(4) {
  width: 4rem;
}

colgroup col:nth-child(5) {
  width: 4rem;
}

div.account-username {
  overflow-x: auto;
  padding-bottom: 0.25rem;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

div.account-domain {
  padding-top: 0.25rem;
  overflow-x: hidden;
  justify-self: center;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  line-height: 1rem;
}

div.account-domain > span {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

div.account-username-cell {
  justify-self: center;
  width: 90%;
  padding-left: 0.5rem;
}

colgroup col {
}

tbody > tr > td {
  ing-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 500;
}

div.account-password-cell {
  justify-self: center;
  width: 90%;
  margin-right: 1rem;
}

div.password {
  display: grid;
  grid-template-columns: 5rem 1.5rem;
  justify-content: center;
  grid-auto-flow: column;
}
.fullscreen-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 100000;
}
