html,
body {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 250px;
}

tbody:before {
  content: "@";
  display: block;
  line-height: 0.6em;
  color: transparent;
}
thead > tr > th {
  text-align: center;
}
